@model HealthcareAnalytics.Models.Incident

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Incident</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Branch.BranchName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Branch.BranchName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IncidentType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IncidentType.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Patient.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateAndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateAndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Details)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FollowUpActions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FollowUpActions)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
