@model IEnumerable<HealthcareAnalytics.ViewModels.IncidentsIndexViewModel>

@{
    ViewBag.Title = "Incidents";
}

<h2>@(ViewBag.Title)</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Incident.Branch.BranchName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PatientFullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeFullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Incident.DateAndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Incident.IncidentType.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Incident.Branch.BranchName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PatientFullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeFullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Incident.DateAndTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Incident.IncidentType.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Incident.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Incident.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Incident.ID })
        </td>
    </tr>
}

</table>
@if (ViewBag.EndPage > 1)
{
    <ul class="pagination">
        @if (ViewBag.CurrentPage > 1)
        {
            <li>
                <a href="~/Incidents/Index">First</a>
            </li>
            <li>
                <a href="~/Incidents/Index/@(ViewBag.CurrentPage - 1)">Previous</a>
            </li>
        }

        @for (var page = ViewBag.StartPage; page <= ViewBag.EndPage; page++)
        {
            <li class="@(page == ViewBag.CurrentPage ? "active" : "")">
                <a href="~/Incidents/Index/@page">@page</a>
            </li>    }

        @if (ViewBag.CurrentPage < ViewBag.TotalPages)
        {
            <li>
                <a href="~/Incidents/Index/@(ViewBag.CurrentPage + 1)">Next</a>
            </li>
            <li>
                <a href="~/Incidents/Index/@(ViewBag.TotalPages)">Last</a>
            </li>
        }
    </ul>
}
