@model IEnumerable<HealthcareAnalytics.Models.Employee>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HomeContactInfo.Street)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameDetails.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkContactInfo.Street)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Branch.BranchName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HomeContactInfo.Street)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameDetails.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkContactInfo.Street)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfBirth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Branch.BranchName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>


@if (ViewBag.EndPage > 1)
{
    <ul class="pagination">
        @if (ViewBag.CurrentPage > 1)
        {
            <li>
                <a href="~/Employees/Index">First</a>
            </li>
                            <li>
                                <a href="~/Employees/Index/@(ViewBag.CurrentPage - 1)">Previous</a>
                            </li>
        }

        @for (var page = ViewBag.StartPage; page <= ViewBag.EndPage; page++)
        {
            <li class="@(page == ViewBag.CurrentPage ? "active" : "")">
                <a href="~/Employees/Index/@page">@page</a>
            </li>    }

        @if (ViewBag.CurrentPage < ViewBag.TotalPages)
        {
            <li>
                <a href="~/Employees/Index/@(ViewBag.CurrentPage + 1)">Next</a>
            </li>
            <li>
                <a href="~/Employees/Index/@(ViewBag.TotalPages)">Last</a>
            </li>
        }
    </ul>
}
